// _typography.scss

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
	font-family: $body-font;
}

body {
	color: $body-color;
	line-height: 1.4;
}

.content-box a:link, .content-box a:visited {
	color: $link-color;
}

.content-box a:hover {
	color: $link-hover;
}

h1, .h1 {
	font-family: $body-font;
	font-weight: bold;
	font-size: 1.6em;
	@include breakpoint(md) { font-size: 2em; }
}

h2, .h2 {
	color: #222;
}

.pure-menu .pure-menu-heading {
	color: $body-color;
}

.pure-form .check-box-options .pure-checkbox {
	padding: .3em;
	margin: .5em .2em;
}

.check-box-options i {
	background-color: #333;
	border-radius: 2px;
	padding: 0 2px;
	line-height: 19px;
}

.adverb {
	background-color: #5ee6d4;
}

.filler-words {
	background-color: #9af0b6;
}

.passive-voice {
	background-color: #5ec3e0;
}

.pronoun {
	background-color: #a285d7;
}

.lexical-illusions {
	background-color: #d07e5a;
}

.misused-words {
	background-color: #d45f74;
}

.ui-tooltip {
	background-color: $main-bg-color-lighter;
	padding: 10px 20px;
  font: normal .8em $body-font;
  box-shadow: 0 0 7px black;
  border: 1px solid $main-bg-color-darker;
}