<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A tool to check creative and technical writing for potential improvements.">

  <title>Editsaurus by Tyler Walters</title>

  <link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/pure-min.css">

  <!--[if lte IE 8]>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/grids-responsive-old-ie-min.css">
  <![endif]-->

  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/grids-responsive-min.css">
  <!--<![endif]-->

  <link rel="stylesheet" href="css/style.min.css">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather:400,700,400italic">
</head>

<body ng-app="editSaurus">

<div class="editsaurus" itemscope itemtype="http://schema.org/WebApplication">
  <meta itemprop="applicationCategory" content="Tool, Writing">
  <meta itemprop="applicationCategory" content="Editing">
  <meta itemprop="operatingSystem" content="OSX, iOS, Android, Windows, Linux">

  <div class="pure-menu pure-menu-open pure-menu-horizontal header">
    <h1 class="pure-menu-heading pure-menu-link" itemprop="name">Editsaurus</h1>
    <ul class="pure-menu-list">
      <li class="pure-menu-selected pure-menu-item"><a href="#check" class="pure-menu-link link"><i class="fa fa-pencil"></i>&nbsp; Check</a></li>
      <li class="pure-menu-item"><a href="#definitions" class="pure-menu-link link"><i class="fa fa-book"></i>&nbsp; Definitions</a></li>
      <li class="pure-menu-item"><a href="#about" class="pure-menu-link link"><i class="fa fa-info"></i>&nbsp; About</a></li>
    </ul>
  </div>

  <div id="check" class="pure-g main-content" check-text>
    <div class="pure-u-1 pure-u-md-1-2 input-column">
      <div class="content-box">
        <form id="writing-check-form" class="pure-form pure-form stacked">
          <fieldset>
            <div id="writing-check-input" class="writing-check-input pure-input-1" ng-keyup="processText()" contenteditable="true">Enter text here.</div>
            <div class="pure-g">
              <div class="pure-u-1 pure-u-sm-1-2 check-box-options">
                <label for="check-adverb" class="pure-checkbox adverb" data-tooltip="Highlights adverbs that could be omitted or replaced with a stronger verb.">
                  <input id="check-adverb" type="checkbox" value="adverb" ng-click="toggleCheck('adverb')" checked><i class="fa fa-question-circle fa-inverse pull-right"></i>&nbsp; Adverbs
                </label>
                <label for="check-filler" class="pure-checkbox filler-words" data-tooltip="Highlights words that may be unnecessary and not add anything of value.">
                  <input id="check-filler" type="checkbox" value="fillerWords" ng-click="toggleCheck('fillerWords')" checked><i class="fa fa-question-circle fa-inverse pull-right"></i>&nbsp; Filler Words
                </label>
                <label for="check-passive" class="pure-checkbox passive-voice" data-tooltip="Highlights possible instances of passive voice.">
                  <input id="check-passive" type="checkbox" value="passiveVoice" ng-click="toggleCheck('passiveVoice')" checked><i class="fa fa-question-circle fa-inverse pull-right"></i>&nbsp; Passive Voice
                </label>
              </div>
              <div class="pure-u-1 pure-u-sm-1-2 check-box-options">
                <label for="check-lexical" class="pure-checkbox lexical-illusions" data-tooltip="Highlights possible lexical illusions (duplicate words).">
                  <input id="check-lexical" type="checkbox" value="lexicalIllusions" ng-click="toggleCheck('lexicalIllusions')" checked><i class="fa fa-question-circle fa-inverse pull-right"></i>&nbsp; Lexical Illusions
                </label>
                <label for="check-misused" class="pure-checkbox misused-words" data-tooltip="Highlights common mistaken words. (there/their/they're, your/you're, its/it's, whose/who's">
                  <input id="check-misused" type="checkbox" value="misusedWords" ng-click="toggleCheck('misusedWords')"><i class="fa fa-question-circle fa-inverse pull-right"></i>&nbsp; Common Misused Words
                </label>
                <label for="pronoun" class="pure-checkbox pronoun" data-tooltip="Highlights pronouns so they can be double checked for clarity.">
                  <input id="pronoun" type="checkbox" value="pronoun" ng-click="toggleCheck('pronoun')"><i class="fa fa-question-circle fa-inverse pull-right"></i>&nbsp; Pronouns
                </label>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 output-column">
      <div class="content-box">
        <div id="writing-check-output" ng-bind-html="output">
        </div>
      </div>
    </div>
  </div>

  <div id="definitions" class="pure-g definitions" definition-list>
    <div class="pure-u-1 pure-u-md-1-3 definitions-list">
      <div class="content-box">
        <ul itemprop="featureList">
          <li class="adverb" ng-class="{'active': currentDefinition === 'adverb'}" ng-click="currentDefinition = 'adverb'">Adverbs</li>
          <li class="filler-words" ng-class="{'active': currentDefinition === 'filler-words'}" ng-click="currentDefinition = 'filler-words'">Filler Words</li>
          <li class="passive-voice" ng-class="{'active': currentDefinition == 'passive-voice'}" ng-click="currentDefinition = 'passive-voice'">Passive Voice</li>
          <li class="lexical-illusions" ng-class="{'active': currentDefinition == 'lexical-illusions'}" ng-click="currentDefinition = 'lexical-illusions'">Lexical Illusions</li>
          <li class="misused-words" ng-class="{'active': currentDefinition == 'misused-words'}" ng-click="currentDefinition = 'misused-words'">Common Misused Words</li>
          <li class="pronoun" ng-class="{'active': currentDefinition == 'pronoun'}" ng-click="currentDefinition = 'pronoun'">Pronouns</li>
        </ul>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-2-3 definitions-description" ng-class="currentDefinition">
      <div class="content-box">
        <div class="adverb-description description" ng-class="{'active': currentDefinition === 'adverb'}">
          <h2>Adverbs</h2>
          <ul>
            <li>-ly</li>
          </ul>
          <p>It is well known that Ernest Hemingway avoided adverbs. His minimalist style didn't have room for superfluous words. Steven King said, "I believe the road to hell is paved with adverbs, and I will shout it from the rooftops," in his book 'On Writing'. </p>
          <p>Adverbs tend to be unnecessary. They can be redundant, slow down the action, or amplify verbs that don't need to be amplified. You can often replace an adverb and the verb it modifies with a stronger verb or, if the verb is strong enough to stand alone anyway, remove the adverb and leave the verb intact.</p>
          <p>Further reading: <a href="http://www.quickanddirtytips.com/education/grammar/how-to-eliminate-adverbs">How to Eliminate Adverbs</a></p>
        </div>
        <div class="filler-words-description description" ng-class="{'active': currentDefinition === 'filler-words'}">
          <h2>Filler Words</h2>
          <ul>
            <li>very, several, some, many, most, few, vast, just, quite, often, various, a number of, really, so, that, and then, but</li>
          </ul>
          <p>These words rarely add anything of value to your writing. They inflate the word count at the cost of readability. You can make your writing leaner and more precise by omitting as filler words when possible.</p>
          <p>You could add more words to this list. Also, not every occurrence of a word on this list is going to need to be removed either. This check is a quick reference. Start by considering whether you need these words and apply that mentality throughout your writing. </p>
          <p>Further reading: <a href="http://writingcenter.unc.edu/handouts/style/">Style at UNC Writing Center</a> (read the section on wordiness)</p>
        </div>
        <div class="passive-voice-description description" ng-class="{'active': currentDefinition === 'passive-voice'}">
          <h2>Passive Voice</h2>
          <ul>
            <li>(is, isn't, are, aren't, am, am not, was, wasn't, were, weren't, had, hadn't, has been, have been, had been, will be, being) + past particle</li>
          </ul>
          <p>These words can be indicators of passive voice. Passive voice occurs when you make the object of action into the subject of a sentence. </p>
          <p>Passive voice is not always bad. However, it can affect the clarity or weaken the impact of a sentence. It can often be replaced with an active sentence structure to improve the writing. </p>
          <p>Further reading: <a href="http://writingcenter.unc.edu/handouts/passive-voice/">Passive Voice at UNC Writing Center</a></p>
        </div>
        <div class="lexical-illusions-description description" ng-class="{'active': currentDefinition === 'lexical-illusions'}">
          <h2>Lexical Illusions</h2>
          <ul>
            <li>duplicate words</li>
          </ul>
          <p>A lexical illusion is a duplicate word our brains filter out when going from one line to the next. This makes catching these issues when reading or editing difficult. This check highlights any duplicate words to allow you to check that they are correct.</p>
        </div>
        <div class="misused-words-description description" ng-class="{'active': currentDefinition === 'misused-words'}">
          <h2>Common Misused Words</h2>
          <ul>
            <li>their/they're/there, your/you're, its/it's, whose/who's, accept/except, affect/effect, allusion/illusion, capital/capitol, climactic/climatic, elicit/illicit, emigrate/immigrate, principle/principal, than/then, to/too/two, lie/lay, set/sit, suppose to, use to, towards, anyways, could care less, intensive purposes</li>
          </ul>
          <p>These words and phrases are often misused. The list includes homonyms that get mixed up and other words and phrases that get used incorrectly. Double check them to make sure you used the correct word or phrase in each case. </p>
          <p>Further reading: <a href="http://wsuonline.weber.edu/wrh/words.htm">Common Misused Words and Phrases at Weber State University</a></p>
        </div>
        <div class="pronoun-description description" ng-class="{'active': currentDefinition === 'pronoun'}">
          <h2>Pronouns</h2>
          <ul>
            <li>he, she, it, they, we, you, I, that, this</li>
          </ul>
          <p>This test highlights pronouns in your writing. This allows you to check the pronouns for clarity. A pronoun should refer to a specific noun, be clear which noun it is referring to, and agree in number and in person with the noun it refers to. </p>
          <p>Further reading: <a href="http://www.msvu.ca/en/home/studentservices/academicadvisingsupport/writingresourcecentre/handouts/makingclearpronounreferences/default.aspx">Making Clear Pronoun References at Mount Saint Vincent University</a></p>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="pure-g about">
    <div class="pure-u-1 pure-u-md-2-3 about-copy">
      <div class="content-box">
        <h2>About</h2>
        <div itemprop="description">
          <p>The purpose of this website is to highlight potential pitfalls in your writing and encourage good habits. Few of the things this tool highlights are hard and fast rules. Try to look at the output as a chance to think about your writing choices and see if there are areas for improvement.</p>
          <p>This website is not infallible. It will miss things and there will be false positives in the results from time to time. This is not a replacement for careful editing. That said, I do hope this provides useful feedback to you. </p>
          <p>The article <a href="http://matt.might.net/articles/shell-scripts-for-passive-voice-weasel-words-duplicates/">3 shell scripts to improve your writing, or "My Ph.D. advisor rewrote himself in bash." by Matt Might</a> inspired this website. I have expanded on it to include other things I thought would be helpful.</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 author-copy">
      <div class="content-box" itemprop="creator author" itemscope itemtype="https://schema.org/Person">
        <h3>Created by <span itemprop="name">Tyler Walters</span></h3>
        <div itemprop="description">
          <p>This website was created by Tyler Walters. He loves both web development and writing, which is convenient for this project. </p>
          <p>You can see what other web projects he is working on at his <a href="http://tylerwalters.com" itemprop="url">personal website</a> and some of his writing (specifically about beer and hot wings) on <a href="http://whydidieatthis.com">Why Did I Eat This</a>.</p>
        </div>
        <p><a href="https://twitter.com/_twalters" title="Tyler Walters on Twitter" itemprop="url"><i class="fa fa-twitter-square fa-2x"></i></a>&nbsp;&nbsp;<a href="https://github.com/tylerwalters/" title="Tyler Walters on Github" itemprop="url"><i class="fa fa-github-square fa-2x"></i></a></p>
        <p>The code powering this website is open source and available on GitHub: <a href="https://github.com/tylerwalters/editsaurus">Editsaurus</a>.</p>
      </div>
    </div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.min.js"></script>
<script src="js/script.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73096259-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>